<header class="hero bg-primary has-text-white mb-5">
	<div class="hero-body">
		<div class="c-container">
			<div class="has-text-centered mb-6">
				{{#if picture}}
				<figure class="image is-128x128 m-auto mb-4">
					<img class="is-rounded" src="{{picture}}" />
				</figure>
				{{/if}}
				<h1 class="title has-text-weight-bold has-text-white">{{name}}</h1>
				<h3 class="subtitle is-italic has-text-white">{{label}}</h3>
			</div>
			<div class="columns is-justify-content-space-around">
				<div class="column is-narrow">
					{{#if website}}
                    {{#>contact title=website link=website icon="fas fa-link"}}{{/contact}}
					{{/if}}
					{{#if email}}
                    {{#>contact title=email link=(prepend email "mailto:") icon="far fa-envelope"}}{{/contact}}
					{{/if}}
					{{#if phone}}
                    {{#>contact title=phone link=(prepend phone "tel:") icon="fas fa-phone"}}{{/contact}}
					{{/if}}
				</div>
				{{#if profiles}}
				<div class="column is-narrow">
				{{#each profiles}}
				{{#eq (lowercase this.network) "twitter"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-twitter"}}{{/contact}}
				{{/eq}}
				{{#eq (lowercase this.network) "instagram"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-instagram"}}{{/contact}}
				{{/eq}}
				{{#eq (lowercase this.network) "github"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-github"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "facebook"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-facebook"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "linkedin"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-linkedin"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "skype"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-skype"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "youtube"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-youtube"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "behance"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-behance"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "pinterest"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-pinterest"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "discord"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-discord"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "telegram"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-telegram"}}{{/contact}}
				{{/eq}}
                {{#eq (lowercase this.network) "reddit"}}
                    {{#>contact title=this.username link=this.url icon="fab fa-reddit"}}{{/contact}}
				{{/eq}}
				{{/each}}
				</div>
				{{/if}}
				{{#if location.city}}
				<div class="column is-narrow">
					<p>
                    {{#if location.address}}
                        {{location.address}}
                    {{/if}}
                    {{location.city}}
                    {{#if location.postalCode}}
                        {{location.postalCode}}
                    {{/if}}
                    {{#if location.region}}
                        {{location.region}}
                    {{/if}}
                    {{#if location.countryCode}}
                        {{location.countryCode}}
                    {{/if}}
                    </p>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</header>