{{#if resume.volunteer}}
{{#>section title=(sectionTitle resume "volunteer" "Volunteer") class="volunteer-title"}}
	{{#each resume.volunteer}}
	<div class="mb-4">
		<div class="columns is-vcentered is-gapless m-0">
			<h5 class="column">
				<span>{{this.position}}</span> ─ <span class="is-italic">{{this.organization}}</span>
			</h5>
			<h6 class="column is-narrow">
				{{this.startDate}} ─ {{this.endDate}}
			</h6>
		</div>
		{{#if this.summary}}
		<p>
			{{this.summary}}
		</p>
		{{/if}}
		{{#if this.highlights}}
		<ul>
			{{#each this.highlights}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}